*{
margin: 0;
padding: 0;
}

body {
  background: #F1F1F1;
  font-family: Raleway;
 }

.main-title {
  background-color: #8AC6E2;
  padding: 10px;
  font-family: Oswald;
  font-size: 20px;
}

.proposal {
  width: auto;
  height: auto;
  margin: auto;
  padding: 10px;
 }

.choose-countries {
  width:auto; 
  height: auto;
  margin-bottom: 20px;
  background-color:#F1F1F1;
  padding: 20px;
}
.nav-choose-country{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-btn {
  width: 12em;
  height: auto;
  margin: 25px;
  padding: 15px;
  font-size: 25px;
  background-color: transparent;
  border-radius: 0.3em;
  font-family: Raleway;

}

.nav-btn:hover {
  background-color: #92D08B;
}

.nav-filters {
  width: 100%;
  display: flex;
  text-decoration: none;
}

.custom-select {
  display: block;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .3em;
  margin: .6em;   
  padding: .6em 1.4em .5em .8em;
  height: 3.4em;
  width: auto;
  font-family: Raleway;
  font-size: 15px;
  overflow: hidden;
}  

.custom-select:hover {
  border-color: #92D08B;
 
}

.custom-select:focus {
  border-color:  #92D08B;
 
  color: #222; 
  outline: none;
}

.main-content {
  display: flex;
  align-content: center;
  width: 100%;
  height: auto;
}


.map {
width: 300px;
height: 200px;
box-shadow: #858585 0 3px 0 3px;
border-radius: 0.3em;
}


.table {
  border-color: black;
}

 

  