body{
    margin: 0;
}

.main-title{
    background-color: #1E90FF;
    padding: 5px;
    font-family: Oswald;
    font-size: 20px;
}

.main-content{
    width: 100%;
    height: auto;

}

.proposal{
    width: 60%;
    height: 50px;
    margin: 30px auto;
    /* padding: 30px; */
    display: flex;
    box-sizing: border-box;
    background-color: #40E0D0;
    text-align: center;
    font-family: Raleway;
    
}

.filters{
    display:flex;
    
}

.choose-countries-list,.form-filters {
    width: 40%;
    margin-bottom: 20px;
    box-sizing: border-box;
    list-style: none;
    background-color: #F08080;
    padding: 20px;
    font-family: Raleway;
    font-size: 15px;
    color: beige;
    flex-direction: row;
    
}

.choose-countries-form{
    display: flex;
    

}

.form-btns{
    flex-direction: row;
    margin: 12px;
    padding: 6px 12px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid beige;
    color: beige;

}

.form-btns:hover{
    background-color: #40E0D0;
    text-decoration: none;

}

.form-filters{
    display: flex;
    flex-directiom: row;
}

